.action_btns a{ padding:3px; margin: 0 3px; cursor: pointer; }

#timetable_block table{ border-collapse: inherit; border-spacing: 1px; }

.daterangepicker_start_input, .daterangepicker_end_input{ display:none;  }

#general_comments{ height:80px; }

.largetop{
    margin-top:150px;
    }

.all_check{ display: inline-block; position:relative; top:3px;  }
.user-panel > .info{ position: relative; left: auto; }

@media (max-width: 691px){
     .largetop{ margin: 30px 16px;
        width: 100%;}
    
    .btn-group>.btn{margin-top:2px;}
    .table>tbody>tr>td{    padding: 12px;}
}

#example1 img{
    max-width: 125px;
}
